.pl{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #21212b;
}

.pl2{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #333;
}

.pl-texts{
    width: 65%;
}

.pl-title{
    font-size: 50px;
    font-weight: 600;
    color: white;
}

.pl-desc{
    margin-bottom: 20px;
    font-size: 18px;
    color: white;
}

.pl-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 480px){
    .pl, .pl2{
        padding: 10px;
    }

    .pl-texts{
        width: 100%;
    }
}