.c{
    position: relative;
}

.c-wrapper{
    padding: 50px;
    display: flex;
}

.c-left{
    flex: 1;
}

.c-title{
    font-size: 60px;
    width: 80%;
}

.c-info-item{
    display: flex;
    align-items: center;
    margin: 20px 0px;
    font-weight: 300;
    width: 70%;
}

.c-icon{
    width: 35px;
    height: 30px;
    margin-right: 20px;
}

form{
    margin-top: 20px;
}

@media screen and (max-width: 480px){

    .c-wrapper{
        flex-direction: column;
        padding : 0px 50px;
    }

    .c-title{
        font-size: 30px;
    }

    .c-info-item{
        margin: 20px 0px;
        width: 100%;
    }
}